*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{ 
    background-image: url(https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p{color: white;}
p{font-size: medium;}
p{width: 200px;}

section{
    position:absolute;
    top: 50%
    front-size auto;
    margin-left: auto;
}

p.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}


